
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title>
  NHS Personal Demographics service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://static.notifications.service.gov.uk/images/favicon.ico?a90776c99cc9bf3d9dbe593284d6bbf6" type="image/x-icon" />
  <link rel="mask-icon" href="https://static.notifications.service.gov.uk/images/govuk-mask-icon.svg?22be7f9b52cd32d0260c6d567c1ffcec" color="#0b0c0c"> 
  <link rel="apple-touch-icon" sizes="180x180" href="https://static.notifications.service.gov.uk/images/govuk-apple-touch-icon-180x180.png?ae577696a9d0466ee2019f46ec4c684f">
  <link rel="apple-touch-icon" sizes="167x167" href="https://static.notifications.service.gov.uk/images/govuk-apple-touch-icon-167x167.png?e12d1149c0c083465217626a5458104c">
  <link rel="apple-touch-icon" sizes="152x152" href="https://static.notifications.service.gov.uk/images/govuk-apple-touch-icon-152x152.png?f962c732c983ad0be8167e647af56b09">
  <link rel="apple-touch-icon" href="https://static.notifications.service.gov.uk/images/govuk-apple-touch-icon.png?cdbdb066d43af3ab0c99b6878a296c33">


    
  <link rel="preload" href="https://static.notifications.service.gov.uk/fonts/bold-b542beb274-v2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://static.notifications.service.gov.uk/fonts/light-94a07e06a1-v2.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" media="screen" href="https://static.notifications.service.gov.uk/stylesheets/main.css?3ac1a6e213c96275dbba6a64344b1b6a" />
  <link rel="stylesheet" media="print" href="https://static.notifications.service.gov.uk/stylesheets/print.css?3e93f03694f6d2d4b4f1894dc9d4cbe4" />
  
  
  <style>
      .govuk-header__container { border-color: #1d70b8 }
  </style>
  
  <meta name="google-site-verification" content="niWnSqImOWz6mVQTYqNb5tFK8HaKSB4b3ED4Z9gtUQ0" />
  
    <meta name="format-detection" content="telephone=no">
  
  
  <meta name="description" content="Use NHS Personal Demographics Service to access the national master database of all NHS patients in England, Wales and the Isle of Man">



    
    
  </head>
  



<header class="govuk-header nhsuk-header__transactional" role="banner">

  <div class="govuk-header__container">
    <div class="govuk-header__logo govuk-header__transactional--logo"><a class="govuk-header__link" href="/" aria-label="NHS homepage">

        <svg class="govuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="govuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="govuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>

      </a>
    </div>

 <div class="govuk-header__content">
   <div class="govuk-header__product-name">
          Personal demographics service
    
        
    
    <nav aria-label="Menu" class="govuk-header__navigation govuk-header__navigation--end">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>

      <ul id="navigation" class="govuk-header__navigation-list">
        
          
            <li class="govuk-header__navigation-item">
              
                <a class="govuk-header__link" href="/how-pds-works">
              
                How PDS works
              
                </a>
              
            </li>
           <li class="govuk-header__navigation-item">
              
                <a class="govuk-header__link" href="/integration-guidance">
              
                Integration guidance
              
                </a>
              
            </li>
        
          
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
              
                <a class="govuk-header__link" 
                
                
                
                href="/roadmap">
              
                Roadmap
              
                </a>
              
            </li>
          
        
          
            <li class="govuk-header__navigation-item">
              
                <a class="govuk-header__link" href="/support">
              
Support              
                </a>
              
            </li>
          
        
          
            <li class="govuk-header__navigation-item">
              
                <a class="govuk-header__link" href="https://identity.prod.api.platform.nhs.uk/realms/developer-identity/login-actions/authenticate?execution=81507d33-36f3-43b3-8631-a2d0f005c8e4&client_id=digital-onboarding-service&tab_id=eGfBUDhH81A">
              
                Sign in
              
                </a>
              
            </li>
          
        
      </ul>
    </nav>
    
    </div>

</header>



    
    <div class="govuk-header__content">
    
    
    
    
  </div>
</header>
{% block content %}


    
      <div class="govuk-width-container ">
        
    
    

        <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-12" id="main-content" role="main">
          
    

  

    
      
    
    

  <div class="govuk-grid-row">

    
      <div class="govuk-grid-column-one-quarter">
        
  <nav class="navigation govuk-!-margin-top-7" aria-label="About Notify">
    <ol itemscope itemtype="http://schema.org/ItemList">
      
        
          
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/how-pds-works" itemprop="item">
      <span itemprop="name">How PDS works</span>
    </a>
    
      
            
  <ol itemscope itemtype="http://schema.org/ItemList">
    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/overview" itemprop="item">
      <span itemprop="name">Overview</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/Examples-of-use" itemprop="item">
      <span itemprop="name">Examples of use</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/what-information-is-available" itemprop="item">
      <span itemprop="name">What information is available</span>
    </a>
    
  </li>

 

    
  </ol>

          
    
  </li>

        
      
        
          
  <li class="navigation__item  navigation__item--with-separator "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/integration-guidance" itemprop="item">
      <span itemprop="name">Integration guidance</span>
    </a>
    
  

       <ol itemscope itemtype="http://schema.org/ItemList">
    
  
       <ol itemscope itemtype="http://schema.org/ItemList">
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/integration-guidance/APIs-and-integration" itemprop="item">
      <span itemprop="name">APIs and integration</span>
    </a>
    
  </li>
 
     
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/integration-guidance/" itemprop="item">
      <span itemprop="name">Identifying a patient at a care setting
</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/integration-guidance/" itemprop="item">
      <span itemprop="name">Synchronising a local patient record
</span>
    </a>
    
  </li>
 <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/integration-guidance/APIs-and-integration" itemprop="item">
      <span itemprop="name">Updating patient information
</span>
    </a>
    
  </li>
 
     
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/Examples-of-use" itemprop="item">
      <span itemprop="name">Adding a new patient at birth

</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/what-information-is-available" itemprop="item">
      <span itemprop="name">Adding a patient after birth

</span>
    </a>
    
  </li>
 <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/integration-guidance/APIs-and-integration" itemprop="item">
      <span itemprop="name">Registering a patient with a GP
</span>
    </a>
    
  </li>
 
     
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/Examples-of-use" itemprop="item">
      <span itemprop="name">Marking a patient record as restricted

</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/what-information-is-available" itemprop="item">
      <span itemprop="name">Recording a death

</span>
    </a>
    
  </li>
 <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/integration-guidance/APIs-and-integration" itemprop="item">
      <span itemprop="name">Handling data quality issues

</span>
    </a>
    
  </li>
 
     
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/Examples-of-use" itemprop="item">
      <span itemprop="name">Identifying multiple patients (batch trace)


</span>
    </a>
    
  </li>

    
      
  <li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/what-information-is-available" itemprop="item">
      <span itemprop="name">Patient self-identification


</span>
    </a>
    
  </li>
<li class="navigation__item "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/how-pds-works/what-information-is-available" itemprop="item">
      <span itemprop="name">Updates by a patient


</span>
    </a>
    
  </li>
    
  </ol>
       
        <ol itemscope itemtype="http://schema.org/ItemList">
    
      
<li class="navigation__item  navigation__item--with-separator "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline selected " href="/how-pds-works/overview" itemprop="item">
      <span itemprop="name">Roadmap</span>
    </a>
    
  </li>
        
          
  <li class="navigation__item  navigation__item--with-separator "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
    <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline " href="/support" itemprop="item">
      <span itemprop="name">Support</span>
    </a>
    
  </li>

  <li class="navigation__item  navigation__item--with-separator "
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
  >
     <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/using-notify" itemprop="item">
      <span itemprop="name">Sign in</span>
    </a>
    
  </li> 
      
    </ol>
  </nav>

      </div>
      <div class="govuk-grid-column-five-eighths">
    

    
<s>
<h1 class="heading-large">Features</h1>

<p class="govuk-body">GOV.UK Notify makes it easy for public sector service teams to send emails, text messages and letters.</p>
<p class="govuk-body">You do not need any technical knowledge to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/templates">create and send messages</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/formatting">edit and format content</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/personalisation">add personalisation</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/bulk-sending">send messages in bulk</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/delivery-times">see when your messages have been delivered</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/team-members-and-permissions">collaborate with your team</a></li>
</ul>

<p class="govuk-body">Find out <a class="govuk-link govuk-link--no-visited-state" href="/features/who-can-use-notify">who can use GOV.UK Notify</a>.</p>


  
  
  <div class="govuk-inset-text">
  
    <a class="govuk-link govuk-link--no-visited-state" href="/register">Create an account</a> for free and try it yourself.
  
</div>




<h2 class="heading-medium">Unlimited free emails</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/send-files-by-email">Send files by email</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/email-branding">Add email branding</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/reply-to-email-address">Choose a reply-to email address</a></li>
</ul>

<h2 class="heading-medium">Send and receive text messages</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="/pricing/text-messages">Send thousands of free text messages</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/receive-text-messages">Receive text messages</a></li>
    <li><a class="govuk-link govuk-link--no-visited-state" href="/pricing/text-messages#international-numbers">Send text messages to international numbers</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/text-message-sender">Tell recipients who your messages are from</a></li>
</ul>

<h2 class="heading-medium">GOV.UK Notify prints and posts your letters for you</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link govuk-link--no-visited-state" href="/pricing/letters">Choose your postage</a></li>
  <li>Send international letters</li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/letter-branding">Add letter branding</a></li>
  <li><a class="govuk-link govuk-link--no-visited-state" href="/using-notify/upload-a-letter">Upload a letter from a PDF</a></li>
</ul>

<h2 class="heading-medium">Automatic sending</h2>
<p class="govuk-body">To send messages automatically, you’ll need a developer to integrate with the GOV.UK Notify API.</p>
<p class="govuk-body">For more information, read our <a class="govuk-link govuk-link--no-visited-state" href="/using-notify/api-documentation">API documentation</a>.</p>

<h2 class="heading-medium">Keep your data secure</h2>
<p class="govuk-body">Find out more about <a class="govuk-link govuk-link--no-visited-state" href="/features/security">security on GOV.UK Notify</a>.</p>

<h2 class="heading-medium">Performance</h2>
<p class="govuk-body">GOV.UK Notify commits to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>sending 95% of emails and text messages within 10 seconds</li>
  <li>printing and posting letters by 3pm the next working day</li>
</ul>
<p class="govuk-body">See the latest <a class="govuk-link govuk-link--no-visited-state" href="/features/performance">performance data</a>.</p>

<h2 class="heading-medium" id="support">24-hour online support</h2>
<p class="govuk-body">GOV.UK Notify provides 24/7 support for emergencies.</p>
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/support">Contact the GOV.UK Notify team</a>.</p>



    </div>
  </div>



        </main>
      </div>
    

    
  

  

  
  <footer class="govuk-footer js-footer" role="contentinfo">
  <div class="govuk-width-container ">
    
      <div class="govuk-footer__navigation">
        
          <div class="govuk-footer__section govuk-grid-column-one-half">
            <h2 class="govuk-footer__heading govuk-heading-m">About Personal demographics service</h2>
            
              
              <ul class="govuk-footer__list govuk-footer__list--columns-1">
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/features">
                        How PDS works
                      </a>
                    </li>
                  
                
                   <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/integration-guidance">
                       Integration guidance
                      </a>
                    </li>
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/roadmap">
                        Roadmap
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="/support">
                       Support
                      </a>
                    </li>
                  
                
                  
                
                
              </ul>
            
          </div>
        
          <div class="govuk-footer__section govuk-grid-column-one-half">
            <h2 class="govuk-footer__heading govuk-heading-m">Related services</h2>
            
              
              <ul class="govuk-footer__list govuk-footer__list--columns-1">
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="https://digital.nhs.uk/services/national-care-records-service">
                        National Care Records Service (NCRS)
                      </a>
                    </li>
                  
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" https://digital.nhs.uk/services/national-care-records-service/birth-notification-process">
Birth notification service                   </a>
                    </li>
                  
                
                  
                  
                    <li class="govuk-footer__list-item">
                 <a class="govuk-footer__link" https://digital.nhs.uk/services/nhs-app">
NHS app</a>
                    </li
                  
                
                  
                  
                
              
                
              </ul>
            
          </div>
        
      </div>
      <hr class="govuk-footer__section-break">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Support links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/privacy">
                    Privacy
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/accessibility-statement">
                    Accessibility statement
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/terms-of-use">
                    Terms of use
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/cookies">
                    Cookies
                  </a>
                </li>
              
            </ul>
          
          
            <div class="govuk-footer__meta-custom">
              Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-footer__link">Government Digital Service</a>
            </div>
          
        
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license"
            >Open Government Licence v3.0</a>, except where otherwise stated
          
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>







    
  
  
  <!--[if gt IE 8]><!-->
  <script type="text/javascript" src="https://static.notifications.service.gov.uk/javascripts/all.js?3f18222c72361d4d2e83b04ec8bdca23"></script>
  <!--<![endif]-->

  </body>
</html>
{% endblock %}
